<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order processed successfully</title>
</head>
<body>
    <h3>Hello, {{ order_successfully.name }} your order processed successfully</h3>
    <h4>Declaration</h4>
    {% for order_item in ordered_product %}
        <p><strong>Product:</strong> {{ order_item }}</p>
    {% endfor %}
    <p><strong>city:</strong> {{ order_successfully.city }}</p>
    <p><strong>address:</strong> {{ order_successfully.address }}</p>
    <p><strong>email:</strong> {{ order_successfully.email }}</p>
    <a href="{% url 'Store:MainPage' %}"><strong>Main page</strong></a>
</body>
</html>