{% extends 'Basic/MainPage.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock title %}


{% block content %}
    <div id="CategoryBar">
        <ul>
            <li {% if not category %}{% endif %}>
                <a href="{% url 'Store:ProductList' %}">ALL CATEGORIES</a>
            </li>

                {% for categories_val, struct in categories|tree_info %}
                    {% if struct.new_level %}
                        <ul><li>{% else %}</li><li>{% endif %}
                            <a href="{{ categories_val.get_absolute_url }}">{{ categories_val.name }}</a>
                    {% for level in struct.closed_level %}
                        </li></ul>
                    {% endfor %}
                {% endfor %}
        </ul>
    </div>

    <div id="subheader">
        {% with sum_items=shopping_cart_processor|length  %}
            {% if shopping_cart_processor|length > 0 %}
                <a href="{% url 'ShoppingCart:cart_detail' %}">cart detail</a>:
                <strong>{{ sum_items }} product.</strong> {{ sum_items|pluralize }}
                total price <strong>{{ shopping_cart_processor.full_price }}$</strong>
            {% else %}
                <div class="cart">
                    <a href="{% url 'ShoppingCart:cart_detail' %}">Your cart is empty</a>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <hr>
    <div id="ProductList">
        <h2>
            {% if category %}{{ category.name }}{% else %}Products{% endif %}
        </h2>

        {# product_limit - pagination limit per page #}
        {% for product in product_limit %}
            <a href="{{ product.get_absolute_url }}">
            {% if product.image %}
                <img src="{{ product.image.url }}" height="400" width="400" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'Store/img/ImageNotFound.jpg' %}" height="300" width="300">
            {% endif %}
            </a>
            <br>
            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
            <p>Price: <strong>{{ product.price }}$</strong></p>
        {% endfor %}
    </div>

    {# module pagination connect   #}
    {% include 'includes/pagination.html' %}
{% endblock content %}
