{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main Page{% endblock title %}</title>
</head>
<body>
    {% block content %}
        <div>
            <h1>MAIN PAGE</h1>
            <a href="{% url 'Store:ProductList' %}">
                <img src="{% static 'Store/img/storeMainPage.jpg' %}" alt="MainStore">
            </a>
            <h2><a href="{% url 'Store:ProductList' %}">products</a></h2>
        </div>
    {% endblock content %}
</body>
</html>